# Disable auto-updating of docker-dev by setting this to 0
AUTO_UPDATE=1

# set the path here to your local src path
LOCAL_SRC=/your/totara/src/path

# Containers to start when the 'tup' command is run without any arguments
# Like most CMSes, Totara requires a webserver, a database, and PHP
# It is recommended to use nginx, and the latest version of postgres and PHP for better performance
# Note that specifying just 'php' will automatically use the latest version of PHP that the Totara site supports
DEFAULT_CONTAINERS=nginx,pgsql13,php

# set this to your local IP address
# for mac just use "host.docker.internal"
# for linux run command "docker run --rm alpine ip -4 route list match 0/0 | cut -d' ' -f3" and use the resulting ip address
# most probably it is 172.17.0.1
HOST_IP=host.docker.internal

# Uncomment and change the following to a full path on your host
# If not specified tdb will use the folder "tdb_backup" in your home directory
#TDB_BACKUP_PATH=/your/path/to/backup/location

# Set this to a region close to you for better page loading times when using ngrok
# Available ngrok regions: us (Ohio), eu (Frankfurt), ap (Singapore), au (Sydney), sa (Sao Paulo), jp (Tokyo), in (Mumbai)
NGROK_REGION=au

# Build settings (this will have an affect on build only)
TIME_ZONE=Pacific/Auckland

# Machine Learning (T15+)
# Set this to the root of the Totara project you want to run
# machine learning on. If you run multiple instances then it must point
# to a single instance. This is *not* the /server directory, but the one above.
# ML_TOTARA_PROJECT=/your/totara/src/project
# Point to the web root of your Totara project you are connecting the ML service to.
# ML_TOTARA_URL=http://totara73/my-project/server
# Whether to run in dev mode or production mode. 1 = dev, 0 = prod. Defaults to 1.
# ML_DEV=1
#
# Optional Machine Learning settings.
# These are all documented in totara/extensions/ml_service/readme.md
# ML_RECOMMENDATION_RETRAIN_FREQ=1440
# ML_NUM_THREADS=4
# ML_RECOMMENDATION_ALGORITHM=hybrid

# Defaults - you shouldn't really need to change these.
REMOTE_SRC=/var/www/totara/src
REMOTE_DATA=/var/www/totara/data
MYSQL_ROOT_PW=root
MSSQL_SA_PW=Totara.Mssql1
