.use-mutagen
use-mutagen
mutagen.yml.lock
.env
!.gitkeep
/tools/.*
!/tools/.version

# Ignore custom cron jobs that you create yourself
/cron.d/*.cron

# Ignore custom docker compose config files that you create yourself
/custom/*.yml
/custom/*.yaml

# Ignore the custom alias files that come with the project, but not ones you create yourself
/shell/*.sh
/shell/*.bash
!/shell/util-aliases.sh
!/shell/site-aliases.sh
!/shell/phpunit-aliases.sh
!/shell/behat-aliases.sh
!/shell/generator-aliases.sh

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
