name: Build PHP images

on:
  release:
    types:
      - created
  pull_request:
    branches:
      - master
    paths:
      - php/**
      - '!php/includes/**'
      - .github/workflows/build-image.yml
      - .github/workflows/build-php.yml

jobs:
  build-php-images:
    name: Build PHP images
    uses: ./.github/workflows/build-image.yml
    strategy:
      fail-fast: false
      matrix:
        version: [73, 74, 80, 81, 82, 83, 84, 85]
    with:
      image: php${{ matrix.version }}
      context: ./php
      dockerfile: php${{ matrix.version }}/Dockerfile
      push: ${{ github.event_name == 'release' }}
    secrets: inherit
