name: Check config.php is valid

on:
  pull_request:
    paths:
      - 'config.php'
      - 'php/includes/**'
      - '.github/workflows/validate-config.yml'
      - '.github/workflows/validate-config-for-version.yml'

jobs:
  validate-config:
    uses: ./.github/workflows/validate-config-for-version.yml
    strategy:
      fail-fast: true
      matrix:
        php-version: ['8.4', '5.5']
    with:
      php-version: ${{ matrix.php-version }}
